body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-items: center;
  min-width: 320px;
  height: 100vh;
  flex-direction: column;
  box-sizing: border-box;
  background-image: linear-gradient(red,white);
}

#header, #explanation{
  
  color:white;
  text-shadow: 0 0 16px black, -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#header{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 36px;
}

/* container for title header and pokeball images */
.header-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#pokeballImg{
  height: 40px;
  width: 40px;
}

#explanation{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

#input-container{
  margin-bottom: 5px;
}

#pokemonNum{
  font-size: 15px;
  padding: 5px;
}

#catch-btn{
  padding: 5px;
  font-size: 15px;
  border-radius: 8px;
  border: 1px solid black;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: red;
  color: white;
  cursor: pointer;
  transition: border 0.20s;
}

/* hovering over the button makes the border turn white and changes color of the button */
#catch-btn:hover {
  border: 1px solid white;
  background-color: rgb(253, 131, 131);
}

/* container containing pokemon's info */
#info-container{
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  align-items: center;
  align-content: center;
  padding: 10px;
  text-align: center;
  overflow-y: scroll;
  font-size: 10px;
}

#pokemonInfo{
  align-items: center;
  align-content: center;
  object-fit: contain;
  
}

#pokemonInfo p{
  font-family: Arial, Helvetica, sans-serif;
}

#pokemonInfo p, h2{
  font-size: 17px;
}

#sprite{
  margin-left: auto;
  margin-right: auto;

}

/* audio elements are now round-edged instead of boxes */
audio{
  border-radius: 20px;
}